.card{
  margin: 20px 0px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  background-color: white;
}

.card {
transition: all .2s ease-in-out;
}

.card:hover {
transform: scale(1.01);
}
