body{
  font-family: 'Raleway', sans-serif;
  background-color: #003f5c;
  background: rgb(23,55,61);
  background: linear-gradient(90deg, rgba(23,55,61,1) 0%, rgba(38,106,116,1) 78%);
  text-align: center;
}

.container{
  width: 50%;
  margin: 0 auto;
  margin-top: 24px;
}

.project-image{
  max-width: 450px;
  img{
    width: 100%;
    max-width: 450px;
    border:1px solid #021a40;
  }
}

h1{
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  padding-bottom: 12px;
}

h2 {
  color: rgb(23,55,61);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-bottom: 24px;
}

h3 {
  color: rgb(23,55,61);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


.project{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding-bottom: 24px;
  border-bottom: 2px solid #284B63;
}

#project-last{
  border-bottom: none;
}


.project-text{
  padding: 12px;
  width: 250px;
  min-width: 200px;
  h1{
    font-size: 28px;
    font-family: 'Covered By Your Grace';
    text-align: center;
  }
}

h1, h2, h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-button{
  text-align: center;
  margin-top: 24px;
}

.btn-medium {
  text-decoration: none;
  color: #284B63;
  border: 2px solid #284B63;
  padding: 16px 24px;
  border-radius: 50px;
  width: 150px;
  opacity: 1;
}

.btn-medium:hover {
  opacity: 0.6;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 40px;
  a{
    color: #284B63;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
