---
title: Sam's Portfolio
---

<!-- <div class="welcome text-center padded">
  <h1>Sam Moore</h1>
  <h2>Full-Stack Developer</h2>
  <p class="doc">
    <%#= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><#!-- .doc
</div><#!-- .welcome -->
<div class="header">

</div>

<div class="container">
  <div class="content">
    <div class="content-header">
      <h1>Sam Moore</h1>
      <h2>Full-Stack Developer</h2>
      <p>Tokyo, Japan</p>
    </div>
    <div class="section">
      <div class="section-header">
        <h1>About Me
        </h1>
      </div>
      <div class="section-body">

      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h1>Recent Projects</h1>
      </div>
      <div class="section-body">
        <div class="project">
          <div class="project-image">
            <%= image_tag ("way-to-snow-map.png"), alt: "Way to Snow Map" %>

          </div>
          <div class="project-text">
            <h1>Way to Snow</h1>
          </div>
        </div>
        <div class="project">
          <div class="project-text">
            <h1>Task Tanuki</h1>
          </div>
          <div class="project-image">
            <%= image_tag ("task-tanuki.png"), alt: "Task Tanuki" %>
          </div>
        </div>
        <div class="project">
          <div class="project-image">
            <%= image_tag ("mr-cocktails.png"), alt: "Mr Cocktails" %>

          </div>
          <div class="project-text">
            <h1>Mr Cocktails</h1>
          </div>
        </div>
        <div class="project">
          <div class="project-text">
            <h1>Japan Prefectures</h1>
          </div>
          <div class="project-image">
            <%= image_tag ("way-to-snow-map.png"), alt: "Way to Snow Map" %>
          </div>
        </div>

      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h1>Contact Me</h1>
      </div>
      <div class="section-body">

      </div>
    </div>
  </div>
</div>
