---
title: Sam's Portfolio
---

<div class="welcome text-center padded">
  <h1>Sam Moore</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
